body {
  margin: 0;
  padding: 0 !important;
  overflow: auto !important;
}

@font-face {
  font-family: "Nunito Sans Bold";
  src: local("Nunito Sans"),
    url("/public/Nunito Sans/Nunito Sans Bold.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Nunito Sans Light";
  src: local("Nunito Sans"),
    url("/public/Nunito Sans/Nunito Sans Light.ttf") format("truetype");
  font-style: normal;
}

.clickable {
  cursor: pointer;
}

.swag-card-image {
  width: 200px;
  height: 200px;
  object-fit: contain;
}
.order-tile-image {
  width: 50px;
  height: 50px;
  object-fit: contain;
}
.cart-tile-image {
  width: 50px;
  height: 50px;
  object-fit: contain;
}
